<div class="example">
  <div class="example-header" [id]="fragment">
    <h4 class="example-header-title" *ngIf="exampleTitle">{{ exampleTitle }}</h4>
    <div class="example-header-options"><ng-content select="header-options"></ng-content></div>
  </div>

  <div class="example-description"><ng-content select="description"></ng-content></div>

  <div class="example-body"><ng-content></ng-content></div>
  <div class="example-description mod-secondary"><ng-content select="secondary-description"></ng-content></div>
</div>
