@import 'abstracts/variables';
@import 'abstracts/media-queries';

.example {
  margin-bottom: 2rem;
  background-color: $color-background-light;

  p {
    margin-bottom: 1rem;
  }
}

.example-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid $color-primary-dark;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.example-header-title {
  color: $color-primary-dark;
  line-height: 1;
  margin: 0;
}

.example-header-options {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.example-description {
  margin-bottom: 4rem;

  &:empty {
    margin-bottom: 0;
  }

  &.mod-secondary {
    margin-top: 4rem;
  }

  // prettier-ignore
  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 1rem;
  }

  pre {
    margin-top: 2rem;
    padding: 2rem 0;
  }

  pre code {
    position: relative;
  }

  section {
    margin-bottom: 2rem;
  }
}

.tab-selector {
  width: 100%;
}
.tab-selector-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.tab-selector-list-item {
  background-color: $color-primary;
  color: white;
}

// components
.component-example-title {
  margin-bottom: 1rem;
}

.component-example-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem 4rem;
  margin-bottom: 2rem;

  @include media-breakpoint-down($breakpoint-laptop) {
    grid-template-columns: 1fr 1fr;
  }

  @include media-breakpoint-up($breakpoint-big-screen) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.component-example-item {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;

  & > * {
    margin: 0 0.5rem 1rem;
  }

  code {
    align-self: center;
    margin: 0.5rem 0;
  }

  &.mod-full-width {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.component-example-item-label {
  width: 100%;
}

.component-example-item-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  & + & {
    margin-left: 2rem;
  }
}

// source code panels
.example-sourcecode-panels.ui-tabview {
  padding: 0;

  > .ui-tabview-nav {
    padding: 0;

    ul {
      padding: 0;
    }

    li {
      margin: 0;
      outline: none !important;
      background-color: $color-background-light;

      &:not(.ui-tabview-selected):not(.ui-state-disabled) {
        &:hover {
          color: $color-primary;
        }
      }

      &.ui-tabview-selected {
        color: $color-primary-dark;
        background-color: $color-background;
      }

      &.ui-state-disabled {
        opacity: 0.6;
      }
    }
  }

  .ui-tabview-panel {
    padding: 0;
    min-height: 20rem;
  }

  pre {
    display: block;
    margin-top: 0;
    min-height: 20rem;
  }
}

.dev-only-notes {
  border-radius: $corner-small;
  background-color: $color-background;
  padding: 0.5rem;
}
