// LIST
ul {
  list-style-type: none;

  li {
    padding: 0.25em 0;
  }

  li ul {
    margin-left: 0.5rem;
  }

  &.mod-boxed {
    padding: 0.5em;
    background-color: $color-background;
  }

  &.mod-boxed-alternated {
    li {
      padding: 1rem;
      background-color: $color-secondary-light;

      &:nth-child(odd) {
        background-color: rgba($color-secondary-light, 0.4);
      }
    }
  }

  &.mod-with-bullet {
    li {
      padding-left: 1em;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 1em;
        left: 0;
        width: 5px;
        height: 5px;
        background-color: $color-gray;
      }
    }
  }

  &.mod-dashed {
    li {
      border-bottom: 1px dashed $color-gray-light;

      &:last-child {
        border-bottom: none;
      }

      @include media-breakpoint-down($breakpoint-tablet) {
        padding: 0.5em 0;
      }
    }
  }
}
