$p-font-size: $base-font-size * 1;
$h6-font-size: $base-font-size * 1.1;
$h5-font-size: $h6-font-size * 1.3;
$h4-font-size: $h6-font-size * 1.6;
$h3-font-size: $h6-font-size * 2;
$h2-font-size: $h6-font-size * 2.4;
$h1-font-size: $h6-font-size * 2.8;

@mixin createFontStyle($font-size) {
  font-size: $font-size;

  @include media-breakpoint-down($breakpoint-mobile) {
    font-size: $font-size * 0.9;
  }
}

// prettier-ignore
h1, h2, h3, h4, h5, h6, p {
  display: block;
  margin: 0;
  line-height: 1.2;
}

h1 {
  @include createFontStyle($h1-font-size);
}

h2 {
  @include createFontStyle($h2-font-size);
}

h3 {
  @include createFontStyle($h3-font-size);
}

h4 {
  @include createFontStyle($h4-font-size);
}

h5 {
  @include createFontStyle($h5-font-size);
}

h6 {
  @include createFontStyle($h6-font-size);
}

p {
  font: $font-secondary;
  margin-bottom: 0.5em;
  @include createFontStyle($p-font-size);

  &:last-child {
    margin-bottom: 0;
  }
}

b,
strong {
  font-weight: bolder; // Add the correct font weight in Chrome, Edge, and Safari
}

.mod-text-link {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: $color-primary;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.05s linear;

  &:not(.mod-static) {
    &.mod-hover,
    &:hover {
      color: $color-background-light;
      background-color: $color-primary;
    }

    &:focus,
    &:active,
    &.mod-active {
      color: $color-background-light;
      background-color: $color-primary;
    }
  }
}

// prettier-ignore
h1, h2, h3, h4, h5, h6, p {
  a {
    @extend .mod-text-link
  }
}

li > a {
  @extend .mod-text-link;
}

// MODIFIERS
.mod-font-bold {
  font-weight: $font-weight-bold;
}

.mod-font-primary {
  font: $font-primary;
}

.mod-font-secondary {
  font: $font-secondary;
}

.mod-secondary-paragraph {
  font: $font-secondary;
  font-size: $base-font-size * 0.8;
}

.mod-font-size-xs {
  font-size: $base-font-size * 0.7;
}
