// CODE
code {
  background-color: rgba($color-primary-light, 0.5);
  border-radius: $corner-small;
  padding: 0 0.5rem;
  font-size: 0.9rem;

  & ::-moz-selection,
  & ::selection {
    background: rgba($color-background-dark, 0.5);
  }
}

.copy-to-clipboard-item {
  &,
  code#{&},
  & code {
    color: $color-primary;

    &:hover {
      color: $color-primary-dark;
    }
  }
}

// :not(pre) > code[class*='language-'],
pre[class*='language-'] {
  display: flex;
  align-items: center;
  background-color: $color-background;
  border-radius: $corner-small;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 20rem;
  overflow: auto;

  &::-webkit-scrollbar-track {
    background-color: $color-background-dark;
  }

  &::-webkit-scrollbar {
    height: 0.3165rem;
    width: 0.3165rem;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary-dark;
  }

  code {
    background-color: transparent;
    font-size: 0.8rem;
    padding: 0;
  }
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  background: rgba($color-primary-dark, 0.2);
}

.code-toolbar {
  position: relative;
  margin-top: 2rem;

  .toolbar {
    button {
      position: absolute;
      min-width: auto;
      right: 1rem;
      top: -0.75rem;
      padding: 0.25rem 0.5rem;
      border-radius: $corner-small;
      background-color: $color-primary-dark;
      color: white;
      font: $font-primary;
      font-size: 0.65rem;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
