@import 'layout/page';

.markdown-viewer {
  ul {
    list-style: disc;
    padding-left: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  a {
    text-decoration: underline;
  }

  h4 {
    @extend .page-title;

    &:first-child {
      margin-top: 0;
    }
  }

  h5 {
    margin-top: 3rem;
  }

  pre {
    display: block;
    padding-left: 3rem;
  }

  p {
    margin-bottom: 0.5rem;

    code {
      display: inline-block;
    }
  }
}
