.progress-bar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: height 0.2s ease-in;
  background-color: rgba($color-primary-light, 0.5);
  z-index: $z-index-progress-bar;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $color-primary;
    border-radius: 5px;
  }

  &.mod-visible {
    height: 0.2rem;

    &::before {
      animation: before 2s cubic-bezier(0.65, 0.81, 0.73, 0.4) infinite;
    }

    &::after {
      animation: after 2s cubic-bezier(0.16, 0.84, 0.44, 1) infinite;
      animation-delay: 1.15s;
    }
  }
}

@keyframes before {
  0% {
    left: -35%;
    width: 50%;
  }
  60%,
  100% {
    left: 100%;
    width: 0;
  }
}

@keyframes after {
  0% {
    left: -200%;
    width: 100%;
  }
  60%,
  100% {
    left: 107%;
    width: 50%;
  }
}
