<gg-example-viewer exampleTitle="Typefaces">
  <ng-container ngProjectAs="description">
    <p>
      In the style files refer to the appropriate font with the proper variable. <br />
      For example, in the component <code>scss</code> file refer to the variables as follow:
    </p>

    <pre>
      <code ggCodeHighlighter class="language-scss" ngNonBindable>
        @import 'abstracts/variables'

        .text-to-format &#123;
          font: $font-primary; // set the font-width and font-family
          // then you can define more properties
          font-size: 2rem;
        &#125;
      </code>
    </pre>
  </ng-container>

  <div class="typo-example">
    <h5 class="typo-example-title">{{ primaryFont }}</h5>
    <p class="mod-font-primary">{{ alphabet.toUpperCase() }}</p>
    <p class="mod-font-primary">{{ alphabet }}</p>
    <p class="typo-example-description">
      Use scss variable <code ggCopyToClipboard>$font-primary</code> or apply modifier class
      <code ggCopyToClipboard>.mod-font-primary</code>
    </p>
  </div>

  <div class="typo-example mod-font-secondary">
    <h5 class="typo-example-title">{{ secondaryFont }}</h5>
    <p class="mod-font-secondary">{{ alphabet.toUpperCase() }}</p>
    <p class="mod-font-secondary">{{ alphabet }}</p>
    <p class="typo-example-description">
      Use scss variable <code ggCopyToClipboard>$font-secondary</code> or apply modifier class
      <code ggCopyToClipboard>.mod-font-secondary</code>
    </p>
  </div>
</gg-example-viewer>

<gg-example-viewer exampleTitle="Text sizes">
  <div class="typo-example">
    <div class="typo-example-details">
      <h1>H1 - Heading one</h1>
      <p>/ Title of section</p>
    </div>
    <p class="mod-secondary-paragraph">{{ primaryFont }} - 2.6rem</p>
  </div>

  <div class="typo-example">
    <div class="typo-example-details">
      <h2>H2 - Heading two</h2>
      <p>/ Title title on top bar. KPI's and big numbers</p>
    </div>
    <p class="mod-secondary-paragraph">{{ primaryFont }} - 2.2rem</p>
  </div>

  <div class="typo-example">
    <div class="typo-example-details">
      <h3>H3 - Heading three</h3>
      <p>/ Title of components</p>
    </div>
    <p class="mod-secondary-paragraph">{{ primaryFont }} - 1.8rem</p>
  </div>

  <div class="typo-example">
    <div class="typo-example-details">
      <h4>H4 - Heading four</h4>
      <p>/ Subtitle of components</p>
    </div>
    <p class="mod-secondary-paragraph">{{ primaryFont }} - 1.5rem</p>
  </div>

  <div class="typo-example">
    <div class="typo-example-details">
      <h5>H5 - Heading five</h5>
      <p>/ Chart titles and topbar section titles</p>
    </div>
    <p class="mod-secondary-paragraph">{{ primaryFont }} - 1.2rem</p>
  </div>

  <div class="typo-example">
    <div class="typo-example-details">
      <h6>H6 - Heading six</h6>
      <p>/ KPI's titles</p>
    </div>
    <p class="mod-secondary-paragraph">{{ primaryFont }} - 1rem</p>
  </div>

  <div class="typo-example">
    <p>P - Paragraph text</p>
    <p class="mod-secondary-paragraph">{{ primaryFont }} - 0.9rem</p>
  </div>

  <div class="typo-example" ggCopyToClipboard="mod-secondary-paragraph">
    <p class="mod-secondary-paragraph">P - Paragraph text secondary</p>
    <p class="mod-secondary-paragraph">{{ primaryFont }} - 0.8rem</p>
    <p class="typo-example-description">Apply modifier class <code>.mod-secondary-paragraph</code></p>
  </div>

  <div class="typo-example">
    <p><a href="#">Link inside a paragraph</a></p>
  </div>

  <div class="typo-example" ggCopyToClipboard="mod-font-size-xs">
    <p class="mod-secondary-paragraph">Modifier for small text size</p>
    <p class="mod-secondary-paragraph">{{ primaryFont }} - 0.7rem</p>
    <p class="typo-example-description">Apply modifier class <code>.mod-font-size-xs</code></p>
  </div>
</gg-example-viewer>

<gg-example-viewer exampleTitle="Line height">
  <div>
    <p>
      Line height is set to 1.2.
    </p>

    <div class="mod-separated-items">
      <h1>
        H1. Lorem ipsum dolor amet kale chips photo booth vegan vice. Try-hard intelligentsia cray williamsburg tofu
        dreamcatcher street art.
      </h1>

      <h2>
        H2. Scenester bicycle rights chillwave keffiyeh. Neutra tofu try-hard chicharrones blog locavore. Small batch
        meh snackwave fingerstache austin activated charcoal.
      </h2>

      <h3>
        H3. Selfies typewriter af, chartreuse taiyaki YOLO tacos retro semiotics squid gochujang man bun slow-carb.
        Truffaut fashion axe raclette XOXO synth, fixie bespoke.
      </h3>

      <h4>
        H4. Street art artisan aesthetic hella, single-origin coffee thundercats trust fund tilde lumbersexual palo
        santo pinterest brooklyn put a bird on it woke. Leggings sustainable scenester, mustache unicorn distillery
        direct trade master.
      </h4>

      <h5>
        H5. Wayfarers ramps scenester af wolf. Blog readymade lumbersexual man bun aesthetic intelligentsia, normcore
        distillery four loko chambray activated charcoal snackwave. Biodiesel williamsburg health goth fixie taiyaki,
        salvia locavore microdosing aesthetic cred.
      </h5>

      <h6>
        H6. Kinfolk helvetica semiotics heirloom pickled twee. Occupy health goth chillwave dreamcatcher salvia selvage
        kogi tumeric mumblecore kitsch iceland messenger bag plaid leggings. Artisan locavore viral yuccie echo park
        schlitz, man braid photo booth yr craft beer. Typewriter mixtape vegan gochujang, chillwave food truck pitchfork
        meggings
      </h6>

      <p>
        p. Brooklyn pork belly succulents gochujang tumblr etsy trust fund polaroid ugh blog. Pour-over coloring book
        swag hashtag authentic art party ethical 8-bit. Man bun roof party pinterest mustache. Glossier wayfarers
        fashion axe, knausgaard salvia fixie vaporware raclette sustainable cronut iceland biodiesel mlkshk celiac man
        bun mustache edison bulb vape..
      </p>
    </div>
  </div>
</gg-example-viewer>
