@import 'abstracts/variables';

.typo-example {
  margin-bottom: 2rem;

  & > :first-child {
    color: $color-gray-dark;
  }

  p {
    margin-bottom: 0;
  }

  code {
    color: $color-primary;
  }
}

.typo-example-title {
  margin-bottom: 1rem;
}

.typo-example-details {
  & > * {
    display: inline-block;
    vertical-align: baseline;
  }

  & > :first-child {
    min-width: 24rem;
  }
}

.typo-example-description {
  color: $color-gray-dark;
}

.mod-separated-items {
  & > * {
    margin-bottom: 2rem;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.mod-inline-items {
  & > * {
    margin-right: 4rem;
  }
}
