<div class="page-container mod-with-sidebar">
  <div class="sidebar-container">
    <aside class="page-navigation-container">
      <ul class="navigation-list">
        <li *ngFor="let section of navigation">
          <h5>
            {{ section.label }}
          </h5>

          <ul *ngIf="section.children" class="sub-navigation-list">
            <li *ngFor="let page of section.children">
              <h6>
                <a
                  [routerLink]="['/styleguide', section.value, page.value]"
                  routerLinkActive="mod-active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  {{ page.label }}
                </a>
              </h6>
            </li>
          </ul>
        </li>
      </ul>
    </aside>
  </div>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
