<h2 class="page-title">About me</h2>

<div class="page-section">
  <p>Hi, I am Grazia. I am a frontend developer currently living in beautiful Valencia.</p>
</div>

<div class="page-section">
  <h4 class="page-section-title">Contact</h4>
  <p>If you want to get in touch, send me an email or find me in the web.</p>

  <ul>
    <li>Email: <a href="mailto:graziastracquadanio@gmail.com" target="_blank">graziastracquadanio@gmail.com</a></li>
    <li>Github: <a href="https://github.com/graziastracquadanio" target="_blank">graziastracquadanio</a></li>
    <li>Codepen: <a href="https://codepen.io/graziastrax" target="_blank">graziastrax</a></li>
    <li>
      Linkedin: <a href="https://www.linkedin.com/in/graziastracquadanio/en/" target="_blank">graziastracquadanio</a>
    </li>
    <li>Instagram: <a href="https://www.instagram.com/finding_grace__/" target="_blank">finding_grace__</a></li>
  </ul>
</div>
