<gg-example-viewer exampleTitle="How to use media queries">
  <div class="markdown-viewer"><markdown [src]="mediaQueriesSrc" ngPreserveWhitespaces></markdown></div>
</gg-example-viewer>

<gg-example-viewer exampleTitle="Breakpoints">
  <div class="breakpoint-container">
    <div class="breakpoint-chart">
      <div class="breakpoint-chart-item"></div>
      <div class="breakpoint-chart-item"></div>
      <div class="breakpoint-chart-item"><span class="mod-font-primary-bold">100%</span></div>
      <div class="breakpoint-chart-item"></div>
    </div>
    <div class="breakpoint-list">
      <div class="breakpoint-item">
        <div class="breakpoint-item-icon"><fa-icon icon="mobile-alt"></fa-icon></div>
        <div class="breakpoint-item-value"><p>600px</p></div>
      </div>

      <div class="breakpoint-item">
        <div class="breakpoint-item-icon"><fa-icon icon="tablet-alt"></fa-icon></div>
        <div class="breakpoint-item-value"><p>1024px</p></div>
        <code ggCopyToClipboard>$breakpoint-tablet</code>
      </div>

      <div class="breakpoint-item">
        <div class="breakpoint-item-icon"><fa-icon icon="laptop"></fa-icon></div>
        <div class="breakpoint-item-value"><p>1280px</p></div>
        <code ggCopyToClipboard>$breakpoint-laptop</code>
      </div>

      <div class="breakpoint-item">
        <div class="breakpoint-item-icon"><fa-icon icon="desktop"></fa-icon></div>
        <div class="breakpoint-item-value"><p>1440px</p></div>
        <code ggCopyToClipboard>$breakpoint-screen</code>
      </div>

      <div class="breakpoint-item">
        <div class="breakpoint-item-icon"><fa-icon icon="tv"></fa-icon></div>
        <div class="breakpoint-item-value"><p>1920px</p></div>
        <code ggCopyToClipboard>$breakpoint-big-screen</code>
      </div>
    </div>
  </div>
</gg-example-viewer>
