@import 'abstracts/variables';
@import 'abstracts/media-queries';

.color-page-subsection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem 1rem;

  @include media-breakpoint-down($breakpoint-mobile) {
    grid-template-columns: 1fr;
  }
}

.color-item {
  display: flex;
  flex-direction: column;
}

.color-item-description {
  margin-bottom: 2rem;
}

.color-item-sample {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $corner-small;
  margin-bottom: 0.5rem;
  position: relative;

  &.mod-white {
    border: 1px solid $color-background-dark;
  }

  &:hover {
    span {
      opacity: 0.5;
    }
  }

  span {
    opacity: 0;
    color: white;
    font-size: 1.5rem;
    transition: all linear 0.2s;
  }
}

.color-item-label {
  margin-bottom: 0;
}

.color-item-value {
  color: $color-gray-dark;
}
