<div class="page-description">
  <p>
    Don't forget to include <code ggCopyToClipboard>@import 'abstracts/variables';</code> in the <code>scss</code> file
    of the component.
  </p>
</div>

<gg-example-viewer *ngFor="let def of colorsDefinition" [exampleTitle]="def.label">
  <div class="color-page-subsection">
    <div class="color-item" *ngFor="let color of def.items">
      <div
        class="color-item-sample"
        [ggCopyToClipboard]="color.label"
        [ngStyle]="{ background: color.value }"
        [ngClass]="{ 'mod-white': color.label == '$color-background-light' || color.label == '$color-blend' }"
      >
        <span> <fa-icon icon="code"></fa-icon> </span>
      </div>
      <p class="color-item-label mod-secondary-paragraph">{{ color.label }}</p>
      <p class="mod-font-primary-bold">
        <code ggCopyToClipboard>{{ color.value }}</code>
      </p>
    </div>
  </div>
</gg-example-viewer>
