<div class="go-back-action">
  <h6>
    <a class="mod-static" routerLink="/recipes"
      ><span><fa-icon icon="arrow-left"></fa-icon></span>Return to recipes list</a
    >
  </h6>
</div>

<h1 class="recipe-title">{{ recipe.name }}</h1>
<div class="recipe-tag-list" *ngIf="recipe.tags">
  <button *ngFor="let tag of recipe.tags">{{ tag.name }}</button>
</div>

<div class="recipe-image">
  <img [src]="recipe.imageUrl" [title]="recipe.name" />
</div>

<div class="recipe-details-container">
  <div class="recipe-ingredients">
    <h4>Ingredients</h4>
    <ul *ngFor="let ingredientsGroup of recipe.ingredients" class="recipe-ingredient-group mod-dashed">
      <li *ngIf="ingredientsGroup.name">
        <h5>{{ ingredientsGroup.name }}</h5>
      </li>
      <li *ngFor="let ingredient of ingredientsGroup.ingredients">
        <span *ngIf="ingredient.amount">{{ ingredient.amount }} </span>
        <span *ngIf="ingredient.unit">{{ ingredient.unit }} </span>
        <span *ngIf="ingredient.name"
          ><b>{{ ingredient.name }} </b></span
        >
        <span *ngIf="ingredient.notes">{{ ingredient.notes }} </span>
      </li>
    </ul>
  </div>

  <div class="recipe-instructions" *ngIf="recipe.instructions">
    <h4>Instructions</h4>
    <ul class="recipe-instructions-list mod-boxed-alternated" *ngFor="let instructionsBlock of recipe.instructions">
      <h5 *ngIf="instructionsBlock.name">{{ instructionsBlock.name }}</h5>
      <li class="recipe-instructions-list-item" *ngFor="let instruction of instructionsBlock.instructions">
        <div [innerHTML]="instruction.text"></div>
      </li>
    </ul>
  </div>
</div>
