@import 'abstracts/media-queries';

h4 {
  margin-bottom: 1rem;
}

.recipe-title {
  margin-bottom: 2rem;
}

.recipe-tag-list {
  & > * {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.recipe-image {
  margin-bottom: 2rem;

  img {
    width: 100%;
  }
}

.recipe-details-container {
  display: grid;
  grid-template-columns: $sidebar-width auto;
  grid-template-areas: 'sidebar main';
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  @include media-breakpoint-down($breakpoint-mobile) {
    grid-template-columns: auto;
    grid-template-areas: 'sidebar' 'main';
  }
}

.recipe-instructions {
  grid-area: main;
}

.recipe-ingredients {
  grid-area: sidebar;
}

.recipe-ingredient-group {
  margin: 1rem 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.go-back-action {
  span {
    margin-right: 0.5rem;
  }
}
