<div class="page-container mod-with-sidebar mod-sidebar-right">
  <div class="content-container">
    <h3>This is a collection of my favourite recipes.<br />Work in progress!</h3>

    <div class="recipe-finder">
      <h5>Are you looking for inspiration? Try typing some ingredients separated by comma</h5>

      <div class="recipe-search-input-container">
        <gg-search-input (valueChanged)="searchRecipes($event)"></gg-search-input>
      </div>
    </div>

    <div class="recipe-list">
      <div class="recipe-list-group" *ngFor="let letter of letters">
        <h3>
          <span class="recipe-list-group-letter">{{ letter }}</span>
        </h3>
        <div class="recipe-list-item" *ngFor="let recipe of recipes[letter]">
          <a class="recipe-list-item-thumbnail" [routerLink]="['/recipes', recipe.slug]">
            <img [src]="recipe.imageUrl" [title]="recipe.name" />
          </a>
          <div class="recipe-list-item-title">
            <h5>
              <a [routerLink]="['/recipes', recipe.slug]">
                {{ recipe.name }}
              </a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar-container">
    <div class="quotes-list">
      <div class="quotes-list-item">A messy kitchen is a sign of happiness.</div>
      <div class="quotes-list-item">Cooking is love made visible.</div>
      <div class="quotes-list-item">I cook with wine, sometimes I even add it to the food.</div>
      <div class="quotes-list-item">The only thing I like better than talking about food is eating.</div>
      <div class="quotes-list-item">All you need is love. But a little chocolate now and then doesn't hurt.</div>
      <div class="quotes-list-item">One cannot think well, love well, sleep well, if one has not dined well.</div>
      <div class="quotes-list-item">You only live once, lick the bowl!</div>
      <div class="quotes-list-item">Real men wear aprons.</div>
    </div>
  </div>
</div>
