@import 'abstracts/variables';
@import 'abstracts/media-queries';

$recipe-min-width: 18rem;

.recipe-finder {
  background-color: $color-background;
  padding: 1rem;
  margin: 2rem 0;
}

.recipe-search-input-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.recipe-list {
  width: 100%;
  overflow: hidden;
  margin-bottom: -1rem;
  margin-top: 2rem;
  column-width: $recipe-min-width;
  column-gap: 1rem;
}

.recipe-list-group {
  display: inline-block;
  width: 100%;
  padding-bottom: 1rem;
  break-inside: avoid;
}

.recipe-list-group-letter {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: $color-gray-dark;
  color: $color-background-light;
  text-align: center;
}

.recipe-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.recipe-list-item-thumbnail {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: $color-background;

  img {
    display: block;
    height: 100%;
    transform-origin: center;
    transition: transform 0.1s linear;

    &:hover {
      transform: scale(1.2, 1.2);
    }
  }
}

.recipe-list-item-title {
  display: inline-block;
}

.quotes-list {
  border: 2px solid $color-gray-dark;
  padding: 1rem;
}

.quotes-list-item {
  padding: 1rem;
  font-family: monospace;
  font-size: 0.9rem;
  margin-bottom: 1rem;

  &:nth-child(odd) {
    background-color: $color-secondary-light;
  }

  &:nth-child(even) {
    background-color: $color-background;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
