@import 'abstracts/variables';

.search-input-container {
  position: relative;

  &.is-focused {
    color: $color-primary !important;
  }
}

.search-input-clear {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: $color-gray;
  font-size: 1.1rem;
}

.search-input-icon {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 1.2rem;
  color: $color-gray;
  transform: translateY(-50%);

  .is-focused & {
    color: $color-primary;
  }
}

input {
  outline: none;
  border: none;
  width: 100%;
  padding: 0.5rem 2rem;
  font: $font-secondary;
  color: $color-gray;
  background-color: transparent;
  border-bottom: 2px solid $color-gray;

  .is-focused & {
    color: $color-primary;
    border-color: $color-primary;
  }

  &::placeholder {
    color: $color-gray-light;
  }
}
