<div class="search-input-container" [ngClass]="[!!searchText ? 'is-focused' : '']">
  <span class="search-input-icon">
    <fa-icon icon="search"></fa-icon>
  </span>
  <input
    type="text"
    [placeholder]="placeholder"
    [value]="searchText"
    (input)="searchTextUpdate.next($event)"
    (keyup)="keypress($event)"
  />
  <button class="search-input-clear" (click)="clearValue(true)" *ngIf="!!searchText">
    <fa-icon icon="times"></fa-icon>
  </button>
</div>
