.page-container {
  &.mod-with-sidebar {
    display: grid;
    grid-template-columns: $sidebar-width auto;
    grid-template-areas: 'sidebar main';
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    // when the sidebar is on the left it goes above the content on small screens
    @include media-breakpoint-down($breakpoint-mobile) {
      grid-template-columns: auto;
      grid-template-areas: 'sidebar' 'main';
    }

    &.mod-sidebar-right {
      grid-template-columns: auto $sidebar-width;
      grid-template-areas: 'main sidebar';

      // when the sidebar is right it goes below the content on small screens
      @include media-breakpoint-down($breakpoint-mobile) {
        grid-template-columns: auto;
        grid-template-areas: 'main' 'sidebar';
      }
    }
  }
}

.sidebar-container {
  grid-area: sidebar;
}

.content-container {
  grid-area: main;
}
