.page-title {
  margin-bottom: 2rem;
  color: $color-primary-dark;
}

.page-section-title {
  border-bottom: 2px solid $color-primary-dark;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  color: $color-primary-dark;
  line-height: 1;
}

.page-section {
  & > * {
    margin-bottom: 1rem;
  }
}
