@import 'abstracts/variables';
@import 'abstracts/media-queries';
@import 'abstracts/mixins';

// desktop
$content-lateral-padding: 1rem;
$item-color-normal: $color-gray-dark;
$item-color-hover: $color-primary;
$item-color-active: $color-primary;

//mobile
$content-lateral-padding-xs: 1.5rem;

$item-transition-timing: 0.2s;

.main-navbar-container {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: $z-index-top-menu;

  background-color: rgba($color-background-light, 0.9);

  animation: mainNavbarTopAnimation 0.3s ease-out;
  animation-fill-mode: both;
  animation-delay: 1.5s;
}

.main-navbar {
  width: 100%;
  max-width: $content-max-width;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem $content-lateral-padding;

  @include media-breakpoint-down($breakpoint-tablet) {
    padding: 0.5rem;
  }
}

.main-navbar-list {
  display: flex;
}

.main-navbar-list-item.mod-text {
  @include resetAnchorDefault;

  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0.1rem;
  font: $font-primary;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0.5rem;
  user-select: none;
  transition: color $item-transition-timing linear;
  color: $item-color-normal;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    transform-origin: 50% 50%;
    transform: scaleX(0);
    transition: background $item-transition-timing linear, transform $item-transition-timing linear 0.15s;
    background-color: $item-color-normal;
  }

  &:hover {
    color: $item-color-hover;

    &:after {
      background-color: $item-color-hover;
    }
  }

  &:hover,
  &.mod-active {
    &:after {
      transform: scaleX(1);
    }
  }

  &.mod-active,
  &.mod-active:hover {
    color: $item-color-active;
    pointer-events: none;

    &:after {
      background-color: $item-color-active;
    }
  }
}

.app-content-container {
  margin: 0 auto;
  max-width: $content-max-width;
  padding: 2rem $content-lateral-padding 5rem;

  @include media-breakpoint-down($breakpoint-tablet) {
    padding-left: $content-lateral-padding-xs;
    padding-right: $content-lateral-padding-xs;
  }
}

@keyframes mainNavbarTopAnimation {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
