<div class="progress-bar" [class.mod-visible]="loading"></div>

<div class="top-navbar main-navbar-container">
  <nav class="main-navbar">
    <div class="main-navbar-list mod-right">
      <a
        class="main-navbar-list-item mod-text"
        title="Recipes"
        routerLink="/recipes"
        routerLinkActive="mod-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Recipes
      </a>
      <a
        class="main-navbar-list-item mod-text"
        title="Styleguide"
        routerLink="/styleguide"
        routerLinkActive="mod-active"
      >
        Styleguide
      </a>
      <a class="main-navbar-list-item mod-text" title="About" routerLink="/about" routerLinkActive="mod-active">
        About
      </a>
    </div>
    <div class="main-navbar-divider"></div>
    <div class="main-navbar-list mod-left"></div>
  </nav>
</div>

<div class="app-content-container">
  <router-outlet></router-outlet>
</div>
